.body {
    margin: 0;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.header {
    width: 100vw;
    font-size: 14px;
}

.header-top {
    height: 33px;
    background-color: lightseagreen;
    line-height: 1.42857;
}

.header-bottom {
    height: 64px;
    background-color: whitesmoke;
}

.nav {
    height: 100%;
    width: 1199px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.nav-ul {
    margin: auto;
}

.nav-li {
    display: inline-block;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: blue;
}